In [643]:
# libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV, RepeatedStratifiedKFold , KFold
from sklearn.linear_model import LogisticRegression, LinearRegression, Lasso
import sklearn.metrics as metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder, StandardScaler, LabelBinarizer

from pprint import pprint
from sklearn.preprocessing import LabelEncoder

In [644]:
df_test = pd.read_csv(r"C:\Users\dhchaudhary\Downloads\Test_Data.csv")

In [645]:
print(df_test.shape)
df_test.head()

(318, 8)

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0

In [646]:
df = pd.read_csv(r"C:\Users\dhchaudhary\Downloads\Train_Data.csv")

In [647]:
print(df.shape)
df.head()

(4571, 9)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [648]:
# df.isnull().sum()

In [649]:
# df.campaign.unique()

In [650]:
df.adgroup.unique()

array(['adgroup 1', 'adgroup 2', 'adgroup 3', 'adgroup 4'], dtype=object)

In [651]:
# df.ad.unique()

In [652]:
# df.corr()

In [653]:
x = df.revenue

In [654]:
y = df.drop(['revenue'], axis=1)

In [655]:
y.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4

In [656]:
# y['ctr']= y.clicks/y.impressions
# y['cpc']= y.cost/y.clicks
# y['cpa']= y.cost/y.conversions

In [657]:
y.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4

In [658]:
y = y.drop(['date', 'campaign'], axis=1)

In [659]:
y.head(2)

     adgroup    ad  impressions  clicks  cost  conversions
0  adgroup 1  ad 1           24       6  0.08            0
1  adgroup 2  ad 1            1       0  0.00            0

In [660]:
y_new = y.fillna(0)

In [661]:
# y_new.isnull().sum()

In [662]:
y_new = pd.get_dummies(y_new, columns=['adgroup'])
print(y_new.shape)
y_new.head(2)

(4571, 9)

,ad,impressions,clicks,cost,conversions,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,ad 1,24,6,0.08,0,1,0,0,0
1,ad 1,1,0,0.00,0,0,1,0,0

In [663]:
# MultiColumnLabelEncoder(columns = ['adgroup','ad']).fit_transform(y_new)

In [664]:
y_new= y_new.apply(LabelEncoder().fit_transform, )

In [665]:
# y_new.corr()

In [666]:
# y_new.describe()

In [667]:
# sns.boxplot(y = y_new.impressions)

In [668]:
# y_new.loc[y_new['impressions']>=200, 'impressions'] = 200

In [669]:
# sns.boxplot(y = y_new.cost)

In [670]:
# y_new.loc[y_new['cost']>=400, 'cost'] = 400

In [671]:
# ## Considering extreme outlier
# IQR = df.impressions.quantile(0.75) - df.impressions.quantile(0.25)
# lower_bridge = df.impressions.quantile(0.25) - (IQR*3)
# upper_bridge = df.impressions.quantile(0.75) + (IQR*3)
# print(lower_bridge), print(upper_bridge)

In [672]:
# from sklearn.preprocessing import MinMaxScaler

In [673]:
# min_max = MinMaxScaler()
# scaled_df = min_max.fit_transform(y_new)
# scaled_df = pd.DataFrame(scaled_df, columns = y_new.columns)
# scaled_df.head()

In [674]:
# y_new.loc[y_new['adgroup'] == 'adgroup 3']

In [706]:
x_train, x_test, y_train, y_test = train_test_split(y_new, x, test_size=0.3, random_state=2021)

In [676]:
# x_train

In [677]:
# scaler = StandardScaler()
# x_train = scaler.fit_transform(x_train)

# x_test = scaler.transform(x_test)

In [678]:
y_new.shape

(4571, 9)

In [679]:
y_new.dtypes

ad                   int32
impressions          int64
clicks               int64
cost                 int64
conversions          int64
adgroup_adgroup 1    int64
adgroup_adgroup 2    int64
adgroup_adgroup 3    int64
adgroup_adgroup 4    int64
dtype: object

In [680]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3656, 9)
(915, 9)
(3656,)
(915,)

In [681]:
linreg = LinearRegression()
linreg.fit(x_train, y_train)
prediction_linreg = linreg.predict(x_test)



#Results
# lin_mse = mean_squared_error(y_test, prediction_linreg)
# print("Test MSE is: ",lin_mse)

lin_rmse = mean_squared_error(y_test, prediction_linreg, squared=False)
print("Test RMSE is: ",lin_rmse)

lin_mae = mean_absolute_error(y_test, prediction_linreg)
print("Test MAE is: ",lin_mae)

lin_r2_score = r2_score(y_test, prediction_linreg)
print("Test r2_score is: ",lin_r2_score)

Test RMSE is:  286.09332302787186
Test MAE is:  137.54136088119213
Test r2_score is:  0.7857788973194677

In [682]:
lasso = Lasso()
lasso.fit(x_train, y_train)
prediction_lasso = lasso.predict(x_test)



#Results
# lin_mse = mean_squared_error(y_test, prediction_lasso)
# print("Test MSE is: ",lin_mse)

lin_rmse = mean_squared_error(y_test, prediction_lasso, squared=False)
print("Test RMSE is: ",lin_rmse)

lin_mae = mean_absolute_error(y_test, prediction_lasso)
print("Test MAE is: ",lin_mae)

lin_r2_score = r2_score(y_test, prediction_lasso)
print("Test r2_score is: ",lin_r2_score)

# print("Test Adjusted_r2_score is: ", 1-(1-lin_r2_score)*(len(y)-1)/(len(y)-x.shape[1]-1))

Test RMSE is:  285.6287384754884
Test MAE is:  136.29689789598413
Test r2_score is:  0.7864740761240784

In [683]:
# logreg = LogisticRegression(solver = 'lbfgs',max_iter= 2000, random_state = 1  )
# logreg.fit(x_train, y_train)
# prediction_logreg_test = logreg.predict(x_test)
# # prediction_logreg_train = logreg.predict(x_train)

# # print("Logistic Regression Training Accuracy: ",accuracy_score(y_train, prediction_logreg_train))
# print("Logistic Regression Testing Accuracy: ",accuracy_score(y_test, prediction_logreg_test))

# # END CODE

In [684]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr = RandomForestRegressor(max_depth=5, random_state=3, max_features=4)
regr.fit(x_train, y_train)

prediction_rand = regr.predict(x_test)

#Results
# lin_mse = mean_squared_error(y_test, prediction_rand)
# print("Test MSE is: ",lin_mse)

lin_rmse = mean_squared_error(y_test, prediction_rand, squared=False)
print("Test RMSE is: ",lin_rmse)

lin_mae = mean_absolute_error(y_test, prediction_rand)
print("Test MAE is: ",lin_mae)

lin_r2_score = r2_score(y_test, prediction_rand)
print("Test r2_score is: ",lin_r2_score)

Test RMSE is:  212.75574151781967
Test MAE is:  78.83551935384209
Test r2_score is:  0.8815297284075738

### test

In [685]:
df_test.head()

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0

In [686]:
y_new.head()

,ad,impressions,clicks,cost,conversions,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,0,23,6,8,0,1,0,0,0
1,0,0,0,0,0,0,1,0,0
2,0,12,4,4,0,0,0,1,0
3,0,4,4,8,0,0,0,0,1
4,11,243,126,129,4,1,0,0,0

In [687]:
df_test = df_test.drop(['date', 'campaign'], axis=1)

In [688]:
df_test.head()

     adgroup    ad  cost  impressions  clicks  conversions
0  adgroup 1  ad 1  0.58          121      49            1
1  adgroup 3  ad 1  0.17           22      12            0
2  adgroup 4  ad 1  0.05            5       3            0
3  adgroup 2  ad 1  0.01            2       1            0
4  adgroup 2  ad 2  0.01            3       1            0

In [689]:
# df_test['ctr']= df_test.clicks/df_test.impressions
# df_test['cpc']= df_test.cost/df_test.clicks
# df_test.head()

In [690]:
y_new.columns

Index(['ad', 'impressions', 'clicks', 'cost', 'conversions',
       'adgroup_adgroup 1', 'adgroup_adgroup 2', 'adgroup_adgroup 3',
       'adgroup_adgroup 4'],
      dtype='object')

In [691]:
df_test = df_test[['adgroup', 'ad', 'impressions', 'clicks', 'cost', 'conversions']]

In [692]:
df_test.head()

     adgroup    ad  impressions  clicks  cost  conversions
0  adgroup 1  ad 1          121      49  0.58            1
1  adgroup 3  ad 1           22      12  0.17            0
2  adgroup 4  ad 1            5       3  0.05            0
3  adgroup 2  ad 1            2       1  0.01            0
4  adgroup 2  ad 2            3       1  0.01            0

In [693]:
# df_test.isnull().sum()

In [694]:
df_test = df_test.fillna(0)

In [695]:
df_test = pd.get_dummies(df_test, columns=['adgroup'])
print(df_test.shape)
df_test.head(2)

(318, 9)

,ad,impressions,clicks,cost,conversions,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,ad 1,121,49,0.58,1,1,0,0,0
1,ad 1,22,12,0.17,0,0,0,1,0

In [696]:
df_test= df_test.apply(LabelEncoder().fit_transform, )

In [697]:
df_test.head()

,ad,impressions,clicks,cost,conversions,adgroup_adgroup 1,adgroup_adgroup 2,adgroup_adgroup 3,adgroup_adgroup 4
0,0,66,38,47,1,1,0,0,0
1,0,20,12,17,0,0,0,1,0
2,0,4,3,5,0,0,0,0,1
3,0,1,1,1,0,0,1,0,0
4,2,2,1,1,0,0,1,0,0

In [698]:
scaler = StandardScaler()
test_data = scaler.fit_transform(df_test)

# x_test = scaler.transform(x_test)

In [699]:
# df_test.describe()

In [700]:
df_test.shape

(318, 9)

In [701]:
# min_max = MinMaxScaler()
# scaled_df_test = min_max.fit_transform(df_test)
# scaled_df_test = pd.DataFrame(scaled_df_test, columns = df_test.columns)
# scaled_df_test.head()

In [702]:
# scaled_df_test.shape

In [732]:
x_train, x_test, y_train, y_test = train_test_split(y_new, x, test_size=0.15, random_state=2021)

In [733]:
# test_data

In [734]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr = RandomForestRegressor(max_depth=7, random_state=5, max_features=9)
regr.fit(x_train, y_train)

prediction_rand = regr.predict(x_test)

#Results
# lin_mse = mean_squared_error(y_test, prediction_rand)
# print("Test MSE is: ",lin_mse)

lin_rmse = mean_squared_error(y_test, prediction_rand, squared=False)
print("Test RMSE is: ",lin_rmse)

lin_mae = mean_absolute_error(y_test, prediction_rand)
print("Test MAE is: ",lin_mae)

lin_r2_score = r2_score(y_test, prediction_rand)
print("Test r2_score is: ",lin_r2_score)

Test RMSE is:  162.52536731580358
Test MAE is:  55.192905943117516
Test r2_score is:  0.9401832410857525

In [735]:
prediction_test = regr.predict(test_data)

In [736]:
# prediction_test

In [737]:
prediction_tes = pd.DataFrame(data = prediction_test, columns = ['revenue'])

In [738]:
prediction_tes

     revenue
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
..       ...
313      0.0
314      0.0
315      0.0
316      0.0
317      0.0

[318 rows x 1 columns]

In [739]:
prediction_tes[prediction_tes < 0] = 0

In [740]:
prediction_tes.head()

   revenue
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0

In [742]:
prediction_tes.to_csv('submission7.csv', index=False)

In [741]:
# submission 6.submission 5,submission 4 is best

In [743]:
prediction_tes.max()

revenue    1187.516779
dtype: float64